@mixin flex( $jc: flex-start, $ai: stretch, $fdr: row, $flshort: (0, 1, auto )) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $fdr;
    flex: $flshort;
}

@mixin shadow-generator($color) {
    box-shadow: 0 pxToRem(4px) pxToRem(20px) $color;
}

@mixin border-generator($color) {
    -moz-box-shadow: pxToRem(1px) solid $color;
    border: pxToRem(1px) solid $color;
}

@mixin modal-buttons($color, $bg-color, $hover-bg-color) {
    padding: pxToRem(8px) pxToRem(13px) pxToRem(8px) pxToRem(13px);
    color: $color;
    background-color: $bg-color;
    border: none;
    transition: all .3s ease;
    cursor: pointer;
    border-radius: pxToRem(3px);
    outline: none;

    &:hover {
        background-color: $hover-bg-color;
    }
}

@mixin status-info($color, $bg-color) {
    position: absolute;
    bottom: pxToRem(8px);
    left: pxToRem(8px);
    padding: pxToRem(6px) pxToRem(12px);
    font-size: pxToRem(14px);
    border-radius: pxToRem(4px);
    color: $color;
    background-color: $bg-color;
}