$color-milky: #F5F7FA;
$color-light-gray: lightgray;
$color-light-black: #1B2437;
$color-medium-gray: #AAACAF;
$color-dark-gray: #54585A;
$color-border-gray: #EBEDF0;
$color-white: #fff;
$color-blue: #4786FF;
$color-dark-blue: blue; 

$box-shadow-blue: rgba(71, 134, 255, 0.5);