$color-milky: #F5F7FA;
$color-light-gray: lightgray;
$color-light-black: #1B2437;
$color-dark: #000;
$color-medium-gray: #AAACAF;
$color-dark-gray: #54585A;
$color-content-gray: #72687C;
$color-border-gray: #EBEDF0;
$color-white: #fff;
$color-blue: #4786FF;
$color-dark-blue: blue;
$color-dark-red:  rgb(196, 45, 28);
$color-pink: #FF008A;
$color-smoothy-green: #00fd15;
$color-light-green: #00cf1ca2;
$modal-section-border: #ebedf3;
$modal-cancel-btn-color: #7e8299;
$modal-cancel-btn-bg: #f3f6f9;
$modal-cancel-btn-bg-hover: #e4e6ef;
$modal-delete-btn-hover-bg: #ff000d;

$box-shadow-blue: rgba(71, 134, 255, 0.5);
$modal-overlay: rgba(0, 0, 0, .6);